@charset "gbk";
/*body {*/
    /*font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", Tahoma, Arial, sans-serif;*/
    /*background: #f6f6f6;*/
    /*color: #444*/
/*}*/

body, p, li, ul, h1, h2, h3, h4 {
    margin: 0;
    padding: 0
}

h1, h2, h3, th {
    font-weight: normal
}

table {
    border-collapse: collapse
}

li {
    list-style: none
}

a {
    text-decoration: none
}

i {
    font-style: normal
}

.hide {
    display: none
}

.clear {
    clear: both
}

.clearfix:after {
    display: block;
    visibility: hidden;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    zoom: 1
}

.control {
    width: 1000px;
    margin: 0 auto
}

.brandInfo {
    text-align: center;
    font-size: 38px;
    display: none;
    line-height: 3.5;
    *display: none;
    _display: block
}

.brandInfo a {
    color: #f00
}

.brandInfo a.closebrand {
    color: #444;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0
}

.header a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 100%;
    line-height: 47px;
    padding: 0 13px;
    font-size: 14px
}

.header .p_center .logo {
    background: url("http://s.thsi.cn/css/article/images/logo2.png") no-repeat 13px -70px;
    display: inline-block;
    width: 134px;
    height: 48px;
    float: left
}

.header .sns_username {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    float: left
}

.header .person {
    float: left;
    font-size: 18px;
    *padding-left: 8px
}

.header a:hover {
    background: #222
}

.info_panel {
    height: 190px;
    overflow: hidden
}

.hd_right {
    width: 255px
}

.sns_username {
    *float: left
}

.header .art-collect {
    *float: left
}

.fl {
    float: left
}

.fr {
    float: right
}

.unloginbox, .loginedbox {
    float: right
}

.header {
    background-color: #333;
    color: #fff;
    height: 50px
}

.temp_panel {
    height: 418px;
    overflow: hidden
}

.temp_panel .control {
    margin-top: 32px;
    color: #fff
}

.temp_panel .num {
    height: 198px;
    color: #fff;
    text-align: right
}

.temp_panel .num .txt {
    font-size: 30px;
    margin-right: 64px;
    display: inline-block;
    width: 150px;
    text-align: center;
    vertical-align: text-bottom
}

.temp_panel .num p {
    line-height: 35px
}

.temp_panel .num span {
    font-size: 18px
}

.temp_panel .num span.updateT {
    font-size: 14px;
    float: left;
    margin-top: 155px;
    display: block;
    margin-left: 50px
}

.temp_panel .num .date {
    margin-right: 64px;
    font-size: 14px;
    display: inline-block;
    width: 150px;
    text-align: center
}

.temp_panel .summer {
    width: 572px;
    color: #fff;
    font-size: 18px;
    padding: 0 24px;
    line-height: 34px;
    word-wrap: break-word
}

.pixel {
    text-indent: 10px;
    margin: 10px 0;
    color: #000
}

.temp_panel .summer a {
    color: #fff
}

.temp_panel .summer a:hover {
    text-decoration: underline
}

.temp_panel .num label {
    font-size: 140px;
    line-height: 120px;
    margin-top: 42px;
    display: inline-block;
    letter-spacing: -9px;
    font-family: Arial;
    position: relative;
    width: 160px;
    text-align: center
}

.temp_panel .num label i {
    font-weight: normal;
    font-size: 75px;
    position: absolute;
    top: -10px;
    line-height: 69px;
    display: block;
    right: -15px
}

.temp_panel li {
    font-size: 14px;
    height: 50px;
    padding-left: 18px
}

.temp_panel li span {
    display: inline-block;
    width: 66px
}

.temp_panel li .up {
    color: #f04c36;
    font-weight: bold
}

.temp_panel li .down {
    color: #76dea1;
    font-weight: bold
}

.temp_panel ul .val {
    font-weight: bold
}

.temp_panel ul .single_p {
    font-size: 12px;
    margin-top: 7px
}

.l_1 {
    background: url(http://i.thsi.cn/images/temperature/bac_new1.png) no-repeat center
}

.l_2 {
    background: url(http://i.thsi.cn/images/temperature/bac2.png) no-repeat center
}

.l_3 {
    background: url(http://i.thsi.cn/images/temperature/bac3.png) no-repeat center
}

.l_4 {
    background: url(http://i.thsi.cn/images/temperature/bac4.png) no-repeat center
}

.l_panel {
    width: 730px
}

.r_panel {
    width: 238px
}

#sideNav {
    top: 460px
}

.main_box {
    border: 1px solid #edecec;
    border-top: 0;
    position: relative
}

.chart_title {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 5px
}

.chart_title .earn, h2.title, .earn_lose .r_panel p, .huice .s_panel li, .zdtjs li, .huice .part_m, .huice .part_r, .downRound, .upRound, .chart_title .fall {
    background: url(http://i.thsi.cn/images/temperature/icons.png) no-repeat
}

.downRound, .upRound {
    position: absolute;
    padding-left: 12px;
    width: 110px;
    white-space: normal;
    top: -23px;
    z-index: 999;
    font-weight: bold
}

.downRound {
    background-position: -3px -1154px
}

.downRound i {
    color: #6ca584
}

.upRound {
    background-position: -3px -1206px
}

.upRound i {
    color: #d75442
}

.chart_title .earn {
    background-position: 0 4px;
    padding-left: 18px
}

.chart_title .fall {
    background-position: 0 -19px;
    padding-left: 18px
}

.green {
    color: #6ca584;
    font-weight: bold
}

.red {
    color: #d75442;
    font-weight: bold
}

.blue {
    color: #79c0e6
}

.chart_title label {
    font-size: 14px;
    margin-right: 28px
}

.chart_title i {
    font-size: 18px;
    display: inline-block;
    width: 40px;
    *line-height: 20px
}

h2.title {
    background-color: #f5f5f5;
    background-position: 0 -44px;
    font-size: 18px;
    margin-left: 15px;
    padding-left: 15px;
    line-height: 40px
}

h2.title span {
    color: #666;
    font-size: 12px
}

.module {
    background: #fff;
    border-top: 1px solid #eaeaea;
    padding: 0 15px 15px 15px
}

.temp {
    background: url(http://i.thsi.cn/images/temperature/kedu.png) no-repeat;
    position: absolute;
    height: 480px;
    right: 10px;
    top: -140px
}

.temp_1 {
    background-position: -915px -1169px
}

.temp_2 {
    background-position: -455px -1160px
}

.temp_3 {
    background-position: -915px -583px
}

.temp_4 {
    background-position: -442px -569px
}

.temp_5 {
    background-position: -889px 1px
}

.temp_6 {
    background-position: -446px 4px
}

.temp_7 {
    background-position: 9px 4px
}

.temp .grade {
    border: 1px solid #c2c2c2;
    color: #666;
    font-size: 12px;
    width: 72px;
    padding: 0 9px 5px 9px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    margin-left: -13px;
    margin-top: 94px
}

.temp .shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #eaeaea;
    opacity: .7;
    filter: alpha(opacity=70)
}

.temp_1 .grade {
    margin-top: 51px
}

.temp_2 .grade {
    margin-top: 84px
}

.temp_3 .grade {
    margin-top: 116px
}

.temp_4 .grade {
    margin-top: 148px
}

.temp_5 .grade {
    margin-top: 180px
}

.temp_6 .grade {
    margin-top: 211px
}

.temp_7 .grade {
    margin-top: 243px
}

.temp .grade i {
    font-size: 36px;
    display: block;
    position: relative;
    z-index: 9
}

.temp .grade span {
    position: relative;
    z-index: 9
}

.temp .grade .triangle {
    position: absolute;
    border-width: 10px;
    border-color: transparent transparent transparent #c2c2c2;
    border-style: dashed dashed dashed solid;
    right: -20px;
    top: 31px;
    height: 0;
    margin-top: -7px
}

.temp .grade .triangle span {
    position: absolute;
    border-width: 9px;
    border-color: transparent transparent transparent #eaeaea;
    border-style: dashed dashed dashed solid;
    right: -8px;
    height: 0;
    top: -9px
}

.rate_pan {
    height: 170px;
    width: 49.5%;
    position: relative
}

.rate_pan .item {
    width: 200px;
    float: left
}

.similar_chart {
    position: relative;
    height: 260px
}

.chart_item {
    width: 361px;
    float: left;
    border-right: 3px solid #d4d4d4
}

.chart_item.right {
    width: 360px;
    border-right: 0
}

.chart_item .column {
    height: 350px
}

.chart_item .pie {
    height: 170px
}

.earn_lose .r_panel {
    margin-top: 12px;
    border: 1px solid #e6e6e6
}

.earn_lose h3 {
    background: #e6e6e6;
    text-align: center;
    font-size: 14px;
    line-height: 36px
}

.earn_lose .r_panel p {
    background-color: #efefef;
    height: 28px;
    line-height: 28px;
    color: #666;
    font-size: 12px;
    padding-left: 52px
}

.earn_lose .r_panel p.earn {
    background-position: 11px -640px
}

.earn_lose .r_panel p.fall {
    background-position: 11px -681px
}

.earn_lose .r_panel table {
    width: 220px;
    margin: 5px auto 10px
}

.earn_lose .r_panel th, .earn_lose .r_panel td {
    line-height: 36px;
    text-align: center
}

.earn_lose .r_panel th {
    color: #666;
    font-size: 12px
}

.odd td {
    background: #f7fbff
}

.r_panel td {
    font-weight: normal
}

.r_panel td a {
    color: #444
}

.r_panel td a:hover {
    text-decoration: underline
}

.earn_lose .r_panel table i {
    background: #d75442;
    color: #fff;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    border-radius: 3px;
    margin-left: 5px
}

.earn_lose .r_panel table.fall i {
    background: #6ca584
}

.zdt_chart {
    height: 265px;
    position: relative;
    margin-top: 10px
}

.zdt_chart2 {
    height: 265px;
    position: relative;
    margin-top: 10px
}

.zdtjs li {
    float: left;
    text-align: center;
    height: 37px;
    line-height: 35px;
    width: 88px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 22px
}

.zdtjs .jn {
    background-position: 1px -779px
}

.zdtjs .jn.active {
    background-position: 1px -722px
}

.zdtjs .cj {
    width: 132px;
    background-position: 1px -896px
}

.zdtjs .cj.active {
    background-position: 1px -831px
}

.zdtjs li.active {
    font-weight: bold;
    color: #fff
}

.zdtjs ul {
    margin-top: 15px;
    *padding-top: 10px
}

.pie_chart {
    width: 300px;
    height: 160px
}

.huice {
    margin-top: 20px;
    background: #e6e6e6;
    border: 1px solid #e6e6e6
}

.huice .s_txt {
    background: #cf0f0f;
    color: #fff;
    display: block;
    line-height: 33px;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 3px;
    margin: 6px 13px
}

.huice .s_txt span {
    font-weight: bold
}

.huice .s_num {
    font-size: 14px;
    margin: 4px 13px
}

.huice .s_num i {
    font-size: 24px
}

.huice .s_panel ul {
    margin: 10px 12px;
    float: left
}

.huice .s_panel li {
    margin-right: 16px
}

.huice .s_panel .w_2 {
    width: 54px;
    background-position: -288px -831px
}

.huice .s_panel .w_2.active {
    background-position: -288px -723px
}

.huice .s_panel li.active {
    font-size: 14px
}

.huice .s_panel .w_3 {
    width: 64px;
    background-position: -284px -779px
}

.huice .s_panel .w_3.active {
    background-position: -288px -895px
}

.huice .s_panel {
    background: #fff
}

.huice .yilan, .huice .s_panel .tab_box {
    clear: both
}

.huice .yilan {
    margin: 0 13px;
    background: #f5f5f5;
    font-size: 14px
}

.huice .yilan .fl {
    margin-left: 13px;
    display: block;
    line-height: 34px
}

.huice .yilan .fr {
    display: block;
    margin-right: 13px;
    color: #cf0f0f;
    line-height: 34px
}

.huice .yilan .fr:hover {
    text-decoration: underline
}

.huice .yilan table {
    width: 100%;
    background: #fff
}

.huice th, .huice td {
    text-align: center;
    line-height: 30px
}

.huice th {
    padding-top: 6px
}

.huice .part_m span {
    font-size: 20px;
    clear: both;
    display: block;
    text-align: center
}

.huice .part_m .num {
    font-size: 80px;
    line-height: 80px;
    float: right;
    margin-right: 35px
}

.huice .part_m {
    background-position: 106px -966px;
    width: 140px;
    margin-right: 100px;
    margin-top: 24px
}

.huice .part_r label {
    display: block;
    font-size: 20px
}

.huice .part_r {
    background-position: -294px -961px;
    height: 100px;
    padding-left: 120px;
    padding-top: 10px;
    margin-top: 28px
}

.huice .asc i, .huice .desc i {
    font-size: 20px;
    font-weight: bold
}

.huice .desc i {
    color: #6ca584
}

.huice .asc i {
    color: #d75442
}

#footer {
    clear: both;
    overflow: hidden;
    padding-top: 20px;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    font: 12px/24px \5b8b\4f53, tahoma, arial, sans-serif
}

#footer p {
    margin: 0;
    color: #777
}

#footer a {
    line-height: 24px;
    color: #ccc;
    text-decoration: none
}

#footer span {
    color: #999;
    padding: 0 15px
}

.bottom {
    width: 100%;
    background-color: #353535
}

#footer .c333 a {
    color: #777
}

#footer .c333 {
    line-height: 35px
}

.bottom .erweima {
    overflow: hidden;
    color: #ccc;
    padding: 15px;
    width: 1200px;
    margin: 0 auto
}

.bottom .item {
    float: left;
    width: 300px
}

.bottom .item img {
    float: left
}

.bottom .item span {
    display: block;
    margin-left: 138px;
    line-height: 31px
}

.bottom .item .scan {
    background: url("http://i.thsi.cn/images/home/v3/scan.png") no-repeat;
    padding-left: 37px;
    margin-top: 30px
}

.bottom-link {
    width: 100%;
    background-color: #212121
}

.bottom .erweima .back {
    display: block;
    float: right;
    width: 80px;
    height: 80px;
    background: url("http://i.thsi.cn/images/home/v3/back-top.png") no-repeat;
    margin-top: 20px
}