
.sc_selector{
    border: 1px solid #2767a9;
    border-bottom-width: 2px;
    margin: auto;
    /*padding:0px;*/
    /*background-color: #2767a9*/
}
/*.sc_selector .sc_title{*/
/*background: #2767a9*/
/*}*/
.sc_title{
    font-size: 16px;
    line-height: 34px;
    color: #ffffff;
    background-color: #2767a9 ;
    margin-top: 0px;
    padding: 0 15px
}
/*.sc_selector.sc_title small{*/
    /*color: #fff;*/
    /*float: right;*/
    /*margin-top: -33px;*/
    /*lin-height: 16px*/
/*}*/


.main {

    width: 960px;
    height: 580px;
    margin: 0 auto;

}

.search {
    width: 470px;
    background: url(http://i.thsi.cn/images/stockpage/search_shadow.png) no-repeat -9px 15px;
    margin: 176px auto 0;
    height: 100px;
}

